CREATE DATABASE [CSDL_PROJECT_CTMAYTINH]
GO

USE [CSDL_PROJECT_CTMAYTINH]
GO
/****** Object:  Table [dbo].[NHA_PP]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_PP](
	[ID_NHAPP] [tinyint] IDENTITY(1,1) NOT NULL,
	[NHAPHANPHOI] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NHA_PP] PRIMARY KEY CLUSTERED 
(
	[ID_NHAPP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NHA_PP] ON
INSERT [dbo].[NHA_PP] ([ID_NHAPP], [NHAPHANPHOI]) VALUES (1, N'Mai Hoàng')
INSERT [dbo].[NHA_PP] ([ID_NHAPP], [NHAPHANPHOI]) VALUES (2, N'Thủy Linh')
INSERT [dbo].[NHA_PP] ([ID_NHAPP], [NHAPHANPHOI]) VALUES (3, N'Tuấn Anh PC')
SET IDENTITY_INSERT [dbo].[NHA_PP] OFF
/****** Object:  Table [dbo].[LOAI_SP]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_SP](
	[ID_LOAI] [smallint] IDENTITY(1,1) NOT NULL,
	[LOAI_SP] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_SP] PRIMARY KEY CLUSTERED 
(
	[ID_LOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAI_SP] ON
INSERT [dbo].[LOAI_SP] ([ID_LOAI], [LOAI_SP]) VALUES (1, N'Monitor')
INSERT [dbo].[LOAI_SP] ([ID_LOAI], [LOAI_SP]) VALUES (2, N'CPU')
INSERT [dbo].[LOAI_SP] ([ID_LOAI], [LOAI_SP]) VALUES (3, N'Main')
SET IDENTITY_INSERT [dbo].[LOAI_SP] OFF
/****** Object:  Table [dbo].[LOAI_KHACH]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_KHACH](
	[ID_LOAIKHACH] [tinyint] IDENTITY(1,1) NOT NULL,
	[LOAI_KHACH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAI_KHACH] PRIMARY KEY CLUSTERED 
(
	[ID_LOAIKHACH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAI_KHACH] ON
INSERT [dbo].[LOAI_KHACH] ([ID_LOAIKHACH], [LOAI_KHACH]) VALUES (1, N'Khách thường')
INSERT [dbo].[LOAI_KHACH] ([ID_LOAIKHACH], [LOAI_KHACH]) VALUES (2, N'Khách VIP')
SET IDENTITY_INSERT [dbo].[LOAI_KHACH] OFF
/****** Object:  Table [dbo].[KHO]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHO](
	[ID_KHO] [tinyint] IDENTITY(1,1) NOT NULL,
	[TENKHO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KHO] PRIMARY KEY CLUSTERED 
(
	[ID_KHO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHO] ON
INSERT [dbo].[KHO] ([ID_KHO], [TENKHO]) VALUES (1, N'Kho_A')
INSERT [dbo].[KHO] ([ID_KHO], [TENKHO]) VALUES (2, N'Kho_B')
SET IDENTITY_INSERT [dbo].[KHO] OFF
/****** Object:  Table [dbo].[VAI_TRO]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VAI_TRO](
	[ID_VAITRO] [tinyint] IDENTITY(1,1) NOT NULL,
	[VAITRO] [nvarchar](50) NOT NULL,
	[QL_KHO] [bit] NOT NULL,
	[QL_SANPHAM] [bit] NOT NULL,
	[QL_NHANVIEN] [bit] NOT NULL,
	[QL_NHAPP] [bit] NOT NULL,
	[QL_HOADON] [bit] NOT NULL,
	[QL_PHIEUHANG] [bit] NOT NULL,
 CONSTRAINT [PK_VAI_TRO] PRIMARY KEY CLUSTERED 
(
	[ID_VAITRO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VAI_TRO] ON
INSERT [dbo].[VAI_TRO] ([ID_VAITRO], [VAITRO], [QL_KHO], [QL_SANPHAM], [QL_NHANVIEN], [QL_NHAPP], [QL_HOADON], [QL_PHIEUHANG]) VALUES (5, N'Admin', 1, 1, 1, 1, 1, 1)
INSERT [dbo].[VAI_TRO] ([ID_VAITRO], [VAITRO], [QL_KHO], [QL_SANPHAM], [QL_NHANVIEN], [QL_NHAPP], [QL_HOADON], [QL_PHIEUHANG]) VALUES (6, N'Quản lý kho', 1, 1, 0, 0, 0, 0)
INSERT [dbo].[VAI_TRO] ([ID_VAITRO], [VAITRO], [QL_KHO], [QL_SANPHAM], [QL_NHANVIEN], [QL_NHAPP], [QL_HOADON], [QL_PHIEUHANG]) VALUES (7, N'Nhân viên kinh doanh', 0, 1, 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[VAI_TRO] OFF
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID_SANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[ID_LOAI] [smallint] NOT NULL,
	[ID_NHAPP] [tinyint] NOT NULL,
	[ID_KHO] [tinyint] NOT NULL,
	[TEN_SP] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](100) NULL,
	[SOLUONG] [int] NOT NULL,
	[GIA] [money] NOT NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID_SANPHAM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SAN_PHAM] ON
INSERT [dbo].[SAN_PHAM] ([ID_SANPHAM], [ID_LOAI], [ID_NHAPP], [ID_KHO], [TEN_SP], [MOTA], [SOLUONG], [GIA]) VALUES (1, 4, 3, 1, N'Intel Core I3 2120', N'CPU core i3 Intel', 100, 2600000.0000)
INSERT [dbo].[SAN_PHAM] ([ID_SANPHAM], [ID_LOAI], [ID_NHAPP], [ID_KHO], [TEN_SP], [MOTA], [SOLUONG], [GIA]) VALUES (2, 3, 1, 1, N'Asrock H61M - HGS', N'Chipset H61', 100, 1180000.0000)
INSERT [dbo].[SAN_PHAM] ([ID_SANPHAM], [ID_LOAI], [ID_NHAPP], [ID_KHO], [TEN_SP], [MOTA], [SOLUONG], [GIA]) VALUES (3, 7, 1, 1, N'ATI HD 7750', N'VGA ATI HD 7 Series', 100, 2600000.0000)
SET IDENTITY_INSERT [dbo].[SAN_PHAM] OFF
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID_KHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](11) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[THANHPHO] [nvarchar](30) NOT NULL,
	[ID_LOAIKHACH] [tinyint] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_KHACHHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON
INSERT [dbo].[KHACH_HANG] ([ID_KHACHHANG], [TEN], [SDT], [DIACHI], [THANHPHO], [ID_LOAIKHACH]) VALUES (1, N'Vũ Duy Ngọc', N'0909169523', N'Hoàng Mai', N'Hà Nội', 2)
INSERT [dbo].[KHACH_HANG] ([ID_KHACHHANG], [TEN], [SDT], [DIACHI], [THANHPHO], [ID_LOAIKHACH]) VALUES (2, N'Hạ Vũ Quân', N'0909169523', N'Hoàng Mai', N'Hà Nội', 2)
INSERT [dbo].[KHACH_HANG] ([ID_KHACHHANG], [TEN], [SDT], [DIACHI], [THANHPHO], [ID_LOAIKHACH]) VALUES (3, N'Trần Khánh Duyên', N'0909169523', N'Hoàng Mai', N'Hà Nội', 1)
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[ID_NHANVIEN] [smallint] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP] [nvarchar](16) NOT NULL,
	[MATKHAU] [varchar](12) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[SECRET_PIN] [nchar](4) NOT NULL,
	[ID_VAITRO] [tinyint] NOT NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY CLUSTERED 
(
	[ID_NHANVIEN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON
INSERT [dbo].[NHAN_VIEN] ([ID_NHANVIEN], [TENDANGNHAP], [MATKHAU], [TENNHANVIEN], [SECRET_PIN], [ID_VAITRO]) VALUES (1, N'admin', N'123456', N'Thái Trung Đức', N'1234', 5)
INSERT [dbo].[NHAN_VIEN] ([ID_NHANVIEN], [TENDANGNHAP], [MATKHAU], [TENNHANVIEN], [SECRET_PIN], [ID_VAITRO]) VALUES (2, N'tuda', N'123456', N'Dương Anh Tú', N'1234', 6)
INSERT [dbo].[NHAN_VIEN] ([ID_NHANVIEN], [TENDANGNHAP], [MATKHAU], [TENNHANVIEN], [SECRET_PIN], [ID_VAITRO]) VALUES (3, N'toannh', N'123456', N'Nguyễn Huy Toản', N'1234', 6)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
/****** Object:  Table [dbo].[CHI_TIET_PHIEU]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU](
	[ID_PHIEUHANG] [int] NOT NULL,
	[NGAYLAP] [smalldatetime] NOT NULL,
	[ID_NHANVIEN] [smallint] NOT NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEUHANG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHI_TIET_PHIEU] ([ID_PHIEUHANG], [NGAYLAP], [ID_NHANVIEN]) VALUES (1, CAST(0xA0B80287 AS SmallDateTime), 3)
INSERT [dbo].[CHI_TIET_PHIEU] ([ID_PHIEUHANG], [NGAYLAP], [ID_NHANVIEN]) VALUES (2, CAST(0xA0B802CA AS SmallDateTime), 3)
INSERT [dbo].[CHI_TIET_PHIEU] ([ID_PHIEUHANG], [NGAYLAP], [ID_NHANVIEN]) VALUES (3, CAST(0xA0B8041D AS SmallDateTime), 3)
/****** Object:  Table [dbo].[PHIEU_HANG]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_HANG](
	[ID_PHIEUHANG] [int] NOT NULL,
	[ID_SANPHAM] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_PHIEU_HANG] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEUHANG] ASC,
	[ID_SANPHAM] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PHIEU_HANG] ([ID_PHIEUHANG], [ID_SANPHAM], [SOLUONG]) VALUES (1, 1, 1)
INSERT [dbo].[PHIEU_HANG] ([ID_PHIEUHANG], [ID_SANPHAM], [SOLUONG]) VALUES (1, 2, 1)
INSERT [dbo].[PHIEU_HANG] ([ID_PHIEUHANG], [ID_SANPHAM], [SOLUONG]) VALUES (2, 1, 1)
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 02/20/2013 18:09:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[ID_HOADON] [int] IDENTITY(1,1) NOT NULL,
	[ID_NHANVIEN] [smallint] NOT NULL,
	[ID_PHIEUHANG] [int] NOT NULL,
	[ID_KHACHHANG] [int] NOT NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[ID_HOADON] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOA_DON] ON
INSERT [dbo].[HOA_DON] ([ID_HOADON], [ID_NHANVIEN], [ID_PHIEUHANG], [ID_KHACHHANG]) VALUES (2, 3, 1, 1)
INSERT [dbo].[HOA_DON] ([ID_HOADON], [ID_NHANVIEN], [ID_PHIEUHANG], [ID_KHACHHANG]) VALUES (3, 3, 1, 2)
INSERT [dbo].[HOA_DON] ([ID_HOADON], [ID_NHANVIEN], [ID_PHIEUHANG], [ID_KHACHHANG]) VALUES (4, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[HOA_DON] OFF
/****** Object:  View [dbo].[CHI_TIET_HOA_DON]    Script Date: 02/20/2013 18:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CHI_TIET_HOA_DON]
as
SELECT     HOA_DON.ID_HOADON, CHI_TIET_PHIEU.ID_PHIEUHANG, CHI_TIET_PHIEU.NGAYLAP, NHAN_VIEN.TENNHANVIEN, PHIEU_HANG.ID_SANPHAM, 
                      PHIEU_HANG.SOLUONG, KHACH_HANG.TEN, KHACH_HANG.ID_KHACHHANG, SAN_PHAM.GIA, SAN_PHAM.TEN_SP, PHIEU_HANG.SOLUONG * SAN_PHAM.GIA as TIEN
FROM         CHI_TIET_PHIEU INNER JOIN
                      HOA_DON ON CHI_TIET_PHIEU.ID_PHIEUHANG = HOA_DON.ID_PHIEUHANG INNER JOIN
                      KHACH_HANG ON HOA_DON.ID_KHACHHANG = KHACH_HANG.ID_KHACHHANG INNER JOIN
                      NHAN_VIEN ON CHI_TIET_PHIEU.ID_NHANVIEN = NHAN_VIEN.ID_NHANVIEN AND HOA_DON.ID_NHANVIEN = NHAN_VIEN.ID_NHANVIEN INNER JOIN
                      PHIEU_HANG ON CHI_TIET_PHIEU.ID_PHIEUHANG = PHIEU_HANG.ID_PHIEUHANG INNER JOIN
                      SAN_PHAM ON PHIEU_HANG.ID_SANPHAM = SAN_PHAM.ID_SANPHAM
GO
/****** Object:  View [dbo].[CHI_TIET_PHIEU_HANG]    Script Date: 02/20/2013 18:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CHI_TIET_PHIEU_HANG]
as
SELECT     PHIEU_HANG.ID_PHIEUHANG, CHI_TIET_PHIEU.NGAYLAP, NHAN_VIEN.TENNHANVIEN,NHAN_VIEN.ID_NHANVIEN, PHIEU_HANG.ID_SANPHAM, SAN_PHAM.TEN_SP, PHIEU_HANG.SOLUONG, 
                      SAN_PHAM.GIA, SAN_PHAM.GIA * PHIEU_HANG.SOLUONG as THANHTIEN
FROM         CHI_TIET_PHIEU INNER JOIN
                      PHIEU_HANG ON CHI_TIET_PHIEU.ID_PHIEUHANG = PHIEU_HANG.ID_PHIEUHANG INNER JOIN
                      NHAN_VIEN ON CHI_TIET_PHIEU.ID_NHANVIEN = NHAN_VIEN.ID_NHANVIEN INNER JOIN
                      SAN_PHAM ON PHIEU_HANG.ID_SANPHAM = SAN_PHAM.ID_SANPHAM
GO
/****** Object:  Default [DF_VAI_TRO_QL_KHO]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_KHO]  DEFAULT ('False') FOR [QL_KHO]
GO
/****** Object:  Default [DF_VAI_TRO_QL_SANPHAM]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_SANPHAM]  DEFAULT ('False') FOR [QL_SANPHAM]
GO
/****** Object:  Default [DF_VAI_TRO_QL_NHANVIEN]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_NHANVIEN]  DEFAULT ('False') FOR [QL_NHANVIEN]
GO
/****** Object:  Default [DF_VAI_TRO_QL_NHAPP]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_NHAPP]  DEFAULT ('False') FOR [QL_NHAPP]
GO
/****** Object:  Default [DF_VAI_TRO_QL_BAOHANH]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_BAOHANH]  DEFAULT ('False') FOR [QL_HOADON]
GO
/****** Object:  Default [DF_VAI_TRO_QL_PHIEUHANG]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[VAI_TRO] ADD  CONSTRAINT [DF_VAI_TRO_QL_PHIEUHANG]  DEFAULT ('False') FOR [QL_PHIEUHANG]
GO
/****** Object:  ForeignKey [FK_SAN_PHAM_KHO]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_KHO] FOREIGN KEY([ID_KHO])
REFERENCES [dbo].[KHO] ([ID_KHO])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_KHO]
GO
/****** Object:  ForeignKey [FK_SAN_PHAM_LOAI_SP]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LOAI_SP] FOREIGN KEY([ID_LOAI])
REFERENCES [dbo].[LOAI_SP] ([ID_LOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LOAI_SP]
GO
/****** Object:  ForeignKey [FK_SAN_PHAM_NHA_PP]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_NHA_PP] FOREIGN KEY([ID_NHAPP])
REFERENCES [dbo].[NHA_PP] ([ID_NHAPP])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_NHA_PP]
GO
/****** Object:  ForeignKey [FK_KHACH_HANG_LOAI_KHACH]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_LOAI_KHACH] FOREIGN KEY([ID_LOAIKHACH])
REFERENCES [dbo].[LOAI_KHACH] ([ID_LOAIKHACH])
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_LOAI_KHACH]
GO
/****** Object:  ForeignKey [FK_NHAN_VIEN_VAI_TRO]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_VAI_TRO] FOREIGN KEY([ID_VAITRO])
REFERENCES [dbo].[VAI_TRO] ([ID_VAITRO])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_VAI_TRO]
GO
/****** Object:  ForeignKey [FK_CHI_TIET_PHIEU_NHAN_VIEN]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[CHI_TIET_PHIEU]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_NHAN_VIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_NHAN_VIEN]
GO
/****** Object:  ForeignKey [FK_PHIEU_HANG_CHI_TIET_PHIEU]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[PHIEU_HANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_HANG_CHI_TIET_PHIEU] FOREIGN KEY([ID_PHIEUHANG])
REFERENCES [dbo].[CHI_TIET_PHIEU] ([ID_PHIEUHANG])
GO
ALTER TABLE [dbo].[PHIEU_HANG] CHECK CONSTRAINT [FK_PHIEU_HANG_CHI_TIET_PHIEU]
GO
/****** Object:  ForeignKey [FK_PHIEU_HANG_SAN_PHAM]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[PHIEU_HANG]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_HANG_SAN_PHAM] FOREIGN KEY([ID_SANPHAM])
REFERENCES [dbo].[SAN_PHAM] ([ID_SANPHAM])
GO
ALTER TABLE [dbo].[PHIEU_HANG] CHECK CONSTRAINT [FK_PHIEU_HANG_SAN_PHAM]
GO
/****** Object:  ForeignKey [FK_HOA_DON_CHI_TIET_PHIEU]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_CHI_TIET_PHIEU] FOREIGN KEY([ID_PHIEUHANG])
REFERENCES [dbo].[CHI_TIET_PHIEU] ([ID_PHIEUHANG])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_CHI_TIET_PHIEU]
GO
/****** Object:  ForeignKey [FK_HOA_DON_KHACH_HANG]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([ID_KHACHHANG])
REFERENCES [dbo].[KHACH_HANG] ([ID_KHACHHANG])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
/****** Object:  ForeignKey [FK_HOA_DON_NHAN_VIEN]    Script Date: 02/20/2013 18:09:35 ******/
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([ID_NHANVIEN])
REFERENCES [dbo].[NHAN_VIEN] ([ID_NHANVIEN])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
